<h2 class="my-4">Đăng ký</h2>
<form novalidate [formGroup]="form" (ngSubmit)="onHandleSubmit()">
    <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" />
        <div class="form-text text-danger">
            <div *ngIf="form.get('email')?.hasError('email')">
                Định dạng không đúng
            </div>
            <div *ngIf="form.get('email')?.hasError('required')">
                Bắt buộc phải nhập
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label">Mật khẩu</label>
        <input type="password" class="form-control" formControlName="password" />
        <div class="form-text text-danger">
            <div *ngIf="form.get('password')?.hasError('required')">
                Bắt buộc phải nhập mật khẩu
            </div>
            <div *ngIf="form.get('password')?.hasError('minlength')">
                Ít nhất 6 ký tự
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>