<h2>Danh sách sản phẩm</h2>
<button class="" routerLink="add">Thêm sản phẩm</button>
<table class="table">

    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of product; index as i">
            <th scope="row">{{ i + 1 }}</th>
            <td>{{ product.name }}</td>
            <td>{{ product.price }}</td>
            <td>
                <button class="btn btn-danger me-3" (click)="removeItem(product.id)">
                    Delete
                </button>
                <a routerLink="update/{{ product.id }}" class="btn btn-info">Edit</a>
            </td>
        </tr>

    </tbody>
</table>